*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #282D64;
    --secondary-color: #56A7DE;
    --third-color: #F6F6F6;

    --primary-font: sans-serif;
    --secondary-font: sans-serif;
    --third-font: sans-serif;

    --primary-text-color: black;
    --secondary-text-color: black;
}

body{
    font-family: var(--primary-font);
    color: var(--primary-text-color);
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-multiple-carousel__arrow {
    z-index: 990;
}
.react-multi-carousel-item{
    display: flex;
    justify-content: center;
    cursor: grab;
}
.react-multi-carousel-item:active{
    cursor: grabbing;
}

:root{
    font-size: 14px;
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    :root{
        font-size: 12px;
    }
}
 
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
    :root{
        font-size: 10px;
    }
}
